﻿
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}


<section class="home-slider owl-carousel">
    <div class="slider-item bread-item" style="background-image: url('../../Content/images/bg_1.jpg');"
         data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
            <div class="row slider-text align-items-end">
                <div class="col-md-7 col-sm-12 ftco-animate mb-5">
                    <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}">
                        <span class="mr-2">
                            <a href="/">Home</a>
                        </span> <span>Contact</span>
                    </p>
                    <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">Liên Hệ</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section contact-section ftco-degree-bg">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-12 mb-4">
                <h2 class="h4">Thông tin liên hệ</h2>
            </div>
            <div class="w-100"></div>
            <div class="col-md-3">
                <p><span>Địa Chỉ:</span> @ViewBag.FooterItem.address</p>
            </div>
            <div class="col-md-3">
                <p><span>Số điện thoại:</span> @ViewBag.FooterItem.phoneNumber</p>
            </div>
            <div class="col-md-3">
                <p><span>Email:</span> <a href="mailto:{@ViewBag.FooterItem.email}">@ViewBag.FooterItem.email</a></p>
            </div>
            <div class="col-md-3">
                <p><span>Trang Web:</span> <a href="@ViewBag.FooterItem.facebook">@ViewBag.FooterItem.facebook</a></p>
            </div>
        </div>

        <!--<div class="row block-9">
            <div class="col-md-6 pr-md-5">
                <form action="#">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Họ Tên">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Chủ đề">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Đoạn nhắn"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Gửi Tin Nhắn" class="btn btn-primary py-3 px-5">
                    </div>
                </form>

            </div>-->

            @*<div class="col-md-6" id="map"></div>*@
        <!--</div>-->
    </div>
</section>