@model Dentalcare.Models.Prescription

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin/Views/Shared/MyLayout.cshtml";
}

<h2 style="padding: 24px;">Xóa</h2>

<div style="padding: 24px;">
    <h4>Đơn thuốc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hide)
        </dt>

        <dd>
            @(Model.hide ? "Hiển thị" : "Ẩn")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datebegin)
        </dt>

        <dd>
            @(Model.datebegin != null ? Model.datebegin.ToString("dd/MM/yyyy") : "")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.new_order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.new_order)
        </dd>

        <dt>
            Tên bác sĩ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dentist.Person.name)
        </dd>

        <dt>
            Tên bệnh nhân
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.Person.name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="padding: 24px;">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
