@using Dental.Help
@model Dentalcare.Models.Service_Category

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/MyLayout.cshtml";
}

<!-- HTML -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách dịch vụ</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div class="bs-example" style="text-align:right; padding-bottom:10px;">

                <div class="btn-group">
                    @Html.DropDownListFor(model => model.id, (SelectList)ViewBag.Category, " --- Tất cả dịch vụ --- ",
                                                            new { @class = "form-control", @id = "Category" })
                </div>
                <div class="btn-group">
                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span> Thêm mới", "Create", "Create", "Services", routeValues: new { }, htmlAttributes: new { @class = "btn btn-primary" })
                </div>
            </div>
            <div id="getService"></div>
        </div>
</div>
@section Scripts {
    <link href="@Url.Content("~/Areas/admin/Content/vendor/datatables/dataTables.bootstrap4.min.css")" rel="stylesheet">
    <!-- Bootstrap core JavaScript-->
    <!-- Page level plugins -->
    <script src="@Url.Content("~/Areas/admin/Content/vendor/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Areas/admin/Content/vendor/datatables/dataTables.bootstrap4.min.js")"></script>

    <!-- Page level custom scripts -->
    <script src="@Url.Content("~/Areas/admin/Content/js/demo/datatables-demo.js")"></script>
    <script>
    $(document).ready(function () {
        function getService() {
            var CategoryId = $('#Category').val();
            $.ajax({
                url: '@Url.Action("getService", "Services")',
                type: "GET",
                data: { id: CategoryId },
                success: function (data) {
                    $("#getService").html(data);
                },
                error: function (data) {
                    alert("something went wrong.");
                }
            });
        }
        getService();
        $("#Category").change(function () {
            getService();
        })
    });
    </script>
}
