@model Dentalcare.Models.ConsumableMaterial

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/MyLayout.cshtml";
}

<h2 style="padding: 24px;">Chi tiết</h2>

<div style="padding: 24px;">
    <h4>Vật liệu tiêu hao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Material.cateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material.cateId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Material.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expDate)
        </dt>

        <dd>
            @(Model.datebegin != null ? Model.expDate.ToString("dd/MM/yyyy") : "")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hide)
        </dt>

        <dd>
            @(Model.hide ? "Ẩn": "Hiển thị" )
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datebegin)
        </dt>

        <dd>
            @(Model.datebegin != null ? Model.datebegin.ToString("dd/MM/yyyy") : "")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.new_order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.new_order)
        </dd>

        <!-- Display Ingredients -->
        <dt>Thành phần:</dt>
        @if (ViewBag.ingredientConsumableMaterial != null)
        {
            var ingredientConsumableMaterials = ViewBag.ingredientConsumableMaterial as List<Dentalcare.Models.Ingredient_ConsumableMaterial>;

            if (ingredientConsumableMaterials != null && ingredientConsumableMaterials.Any())
            {
                foreach (var ingredient in ingredientConsumableMaterials)
                {
                    <dd>
                        @ingredient.Ingredient.name - @ingredient.new_order
                    </dd>
                }
            }
            else
            {
                <dd>Không có thành phần nào.</dd>
            }
        }
        else
        {
            <dd>Không có thành phần nào.</dd>
        }
    </dl>
</div>
<p style="padding: 24px;">
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
