
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/css/services.css">
<style>
    img{
        display: block;
        margin: auto auto;
        max-height: 500px;
        width: auto;
    }
</style>

<div class="all-services">
    <div class="service-detail">
        <h3>@ViewBag.blog.title</h3>
        <p>@ViewBag.blog.datebegin</p>
        <img src="@Url.Content("~/" + ViewBag.blog.img)" alt="@ViewBag.blog.title" />
        <p>@Html.Raw(ViewBag.blog.msg)</p>

    </div>
    
</div>