
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

    <section class="home-slider owl-carousel">
      <div class="slider-item bread-item" style="background-image: url('../../Content/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
          <div class="row slider-text align-items-end">
            <div class="col-md-7 col-sm-12 ftco-animate mb-5">
              <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2"><a href="/">Home</a></span> <span>Blog</span></p>
              <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">Tin Tức mới nhất</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
                        <div class="row">
                            @foreach (var blog in ViewBag.Blogs)
                            {
                                <div class="col-md-12 ftco-animate">
                                    <div class="blog-entry">
                                        <a href="@Url.Action("Details", "Blog", new { meta = blog.meta })" class="block-20" style="background-image: url('@Url.Content("~/" + blog.img)');">
                                        </a>
                                        <div class="text d-flex py-4">
                                            <div class="meta mb-3">
                                                <div><a href="#">@blog.datebegin</a></div>
                                            </div>
                                            <div class="desc pl-sm-3 pl-md-5">
                                                <h3 class="heading"><a href="#">@blog.title</a></h3>
                                                <p>
                                                    <a href="@Url.Action("Details", "Blog", new { meta = blog.meta })" class="btn btn-primary btn-outline-primary">Read more</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
						<div class="row mt-5">
		          <div class="col">
		            <div class="block-27">
		              <ul>
		                <li><a href="#">&lt;</a></li>
		                <li class="active"><span>1</span></li>
		                <li><a href="#">2</a></li>
		                <li><a href="#">3</a></li>
		                <li><a href="#">4</a></li>
		                <li><a href="#">5</a></li>
		                <li><a href="#">&gt;</a></li>
		              </ul>
		            </div>
		          </div>
		        </div>
					</div> <!-- END: col-md-8 -->
					<div class="col-md-4 sidebar ftco-animate">
						<div class="sidebar-box">
						  <form action="#" class="search-form">
							<div class="form-group">
							  <span class="icon fa fa-search"></span>
							  <input type="text" class="form-control" placeholder="Tìm kiếm">
							</div>
						  </form>
						</div>

						<div class="sidebar-box ftco-animate">
						  <h3>Dentalcare - Tin tức</h3>
						  <p>Nơi đây chứa các bài viết và tin tức liên quan đến phòng khám và sức khỏe răng miệng.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
