@model Dentalcare.Models.Material_Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/MyLayout.cshtml";
}

<h2 style="padding: 24px" ;>Chi tiết</h2>

<div style="padding: 24px" ;>
    <h4>Loại vật liệu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descrip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hide)
        </dt>

        <dd>
            @(Model.hide ? "Ẩn": "Hiển thị" )
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.able)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.able)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.new_order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.new_order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datebegin)
        </dt>

        <dd>
            @(Model.datebegin != null ? Model.datebegin.ToString("dd/MM/yyyy") : "")
        </dd>

    </dl>
</div>
<p style="padding: 24px" ;>
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Quay lại", "Index")
</p>

