@model Dentalcare.Models.Material

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin/Views/Shared/MyLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Material</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.func)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.func)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mfgDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mfgDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.able)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.able)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datebegin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datebegin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumableMaterial.meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumableMaterial.meta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FixedMaterial.meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FixedMaterial.meta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Material_Category.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material_Category.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
