@model Dentalcare.Models.Material

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/MyLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Material</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.func)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.func)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mfgDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mfgDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.able)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.able)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datebegin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datebegin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumableMaterial.meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumableMaterial.meta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FixedMaterial.meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FixedMaterial.meta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Material_Category.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material_Category.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
