@model Dentalcare.Models.Material

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/MyLayout.cshtml";
}

<h2 style="padding: 24px;">Chi tiết</h2>

<div style="padding: 24px;">
    <h4>Vật liệu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.func)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.func)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mfgDate)
        </dt>

        <dd>
            @(Model.datebegin != null ? Model.mfgDate.ToString("dd/MM/yyyy") : "")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hide)
        </dt>

        <dd>
            @(Model.hide ? "Ẩn": "Hiển thị" )
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.new_order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.new_order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datebegin)
        </dt>

        <dd>
            @(Model.datebegin != null ? Model.datebegin.ToString("dd/MM/yyyy") : "")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img)
        </dt>

        <dd>
            <img src="~/@Model.img" width="150px" />
        </dd>

        <dt>
            Là vật liệu cố định:
        </dt>

        <dd>
            @if (Model.FixedMaterial != null)
            {
                @:Đúng
            }
            else
            {
                @:Sai
            }
        </dd>
    </dl>
</div>
<p style="padding: 24px;">
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
