@model Dentalcare.Areas.admin.Models.CreateDentistViewModel

@{
    ViewBag.Title = "Edit Dentist";
    Layout = "~/Areas/admin/Views/Shared/MyLayout.cshtml";
}

<h2>Edit Dentist</h2>

@using (Html.BeginForm("Edit", "Dentists", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <!-- Hidden field for Dentist ID -->
    @Html.HiddenFor(model => model.dentist.id)

    <h4>Account Information</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.account.username, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.account.username, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.account.username)
        </div>
    </div>

    <h4>Person Information</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.person.name, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.person.name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.person.name)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.person.phoneNumber, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.person.phoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.person.phoneNumber)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.person.email, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.person.email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.person.email)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.person.salary, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.person.salary, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.person.salary)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.person.address, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.person.address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.person.address, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.person.gender, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.RadioButtonFor(model => model.person.gender, true) <label>Male</label>
            @Html.RadioButtonFor(model => model.person.gender, false) <label>Female</label>
            @Html.ValidationMessageFor(model => model.person.gender)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.person.birthday, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.person.birthday, new { @class = "form-control", @type = "date" })
            @Html.ValidationMessageFor(model => model.person.birthday)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.person.nation, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.person.nation, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.person.nation)
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Avatar", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" id="avatar" name="avatar" accept="image/*" class="form-control" />
        </div>
    </div>

    <h4>Dentist Information</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.dentist.title, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dentist.title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dentist.title)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.dentist.falid, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.dentist.falid, (SelectList)ViewBag.falid, "-- Select Faculty --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.dentist.falid)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.dentist.meta, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dentist.meta, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dentist.meta, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.dentist.descrip, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dentist.descrip, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dentist.descrip, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { area = "admin" }, new { @class = "btn btn-secondary" })
</div>
