
</section><section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url('@Url.Content("~/Content/images/bg_1.jpg")');" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-3 aside-stretch py-5">
                <div class=" heading-section heading-section-white ftco-animate pr-md-4">
                    <h2 class="mb-3">Cột mốc</h2>
                    <p>Thành tựu của phòng khám là nhờ vào sự tin tưởng của khách hàng</p>
                </div>
            </div>
            <div class="col-md-9 py-5 pl-md-5">
                <div class="row">
                    <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="text">
                                @{int expYear = @DateTime.Now.Year - @ViewBag.FooterItem.dateStartClinic.Year;}
                                <strong class="number" data-number="@expYear"></strong>
                                <span>Kinh nghiệm phòng khám</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number" data-number="@Enumerable.Count(ViewBag.dentists)"></strong>
                                <span>Nha sĩ</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number" data-number="@Enumerable.Count(ViewBag.patients)"></strong>
                                <span>Khách hàng</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>