@model Dentalcare.Models.Appointment

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/dentist/Views/Shared/MyLayout.cshtml";
}

<h2 style="margin-left: 20px; margin-top: 20px">Sửa</h2>

@using (Html.BeginForm("Edit", "Appointments", FormMethod.Post, new { enctype = "multipart/form-data", @style = "padding: 24px;" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" style="margin-left: 20px; margin-top: 20px">
    <h4>Lịch đặt hẹn bệnh nhân @Model.Patient.Person.name ngày @Model.datebegin.ToString()</h4>
    <hr />
    <div class="form-group text-danger">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
    @Html.HiddenFor(model => model.id)

    <div class="form-group">
        @Html.LabelFor(model => model.symptom, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.symptom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.symptom, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.state, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.state,
                new SelectList(new[] { "Chưa khám", "Đang khám", "Đã khám" }, Model.state),
                "Chọn trạng thái",
                new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Chọn ngày khám -->
    <div class="form-group">
        @Html.Label("Ngày khám", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="date" class="form-control" name="date" value="@Model.timeStart.ToString("yyyy-MM-dd")" />
        </div>
    </div>

    <!-- Chọn giờ bắt đầu -->
    <div class="form-group">
        @Html.Label("Giờ bắt đầu", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="time" class="form-control" name="timeStart" value="@Model.timeStart.ToString("HH:mm")" />
        </div>
    </div>

    <!-- Chọn giờ kết thúc -->
    <div class="form-group">
        @Html.Label("Giờ kết thúc", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="time" class="form-control" name="timeEnd" value="@Model.timeEnd.ToString("HH:mm")" />
        </div>
    </div>

    <!-- Ghi chú -->
    <div class="form-group">
        @Html.LabelFor(model => model.note, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.note, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
