@model IEnumerable<Dentalcare.Models.Appointment>
@using Dental.Help
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/dentist/Views/Shared/MyLayout.cshtml";
}

<!-- HTML -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách lịch hẹn của bác sĩ @ViewBag.person.name</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã đặt hẹn</th>
                        <th>Tên bệnh nhân</th>
                        <th>Số điện thoại bệnh nhân</th>
                        <th>Thời gian khám</th>
                        <th>Thời gian kết thúc</th>
                        <th>Ghi chú</th>
                        <th>Ngày đặt</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var model in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => model.id)</td>
                            <td>@Html.DisplayFor(modelItem => model.Patient.Person.name)</td>
                            <td>@Html.DisplayFor(modelItem => model.Patient.Person.phoneNumber)</td>
                            <td>@Html.DisplayFor(modelItem => model.timeStart)</td>
                            <td>@Html.DisplayFor(modelItem => model.timeEnd)</td>
                            <td>@Html.DisplayFor(modelItem => model.note)</td>
                            <td>@Html.DisplayFor(modelItem => model.datebegin)</td>
                            <td>Chưa có thao tác
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <link href="@Url.Content("~/Areas/admin/Content/vendor/datatables/dataTables.bootstrap4.min.css")" rel="stylesheet">
    <!-- Bootstrap core JavaScript-->
    <!-- Page level plugins -->
    <script src="@Url.Content("~/Areas/admin/Content/vendor/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Areas/admin/Content/vendor/datatables/dataTables.bootstrap4.min.js")"></script>

    <!-- Page level custom scripts -->
    <script src="@Url.Content("~/Areas/admin/Content/js/demo/datatables-demo.js")"></script>
}
