@model Dentalcare.Areas.admin.Models.CreateDentistViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/receptionist/Views/Shared/MyLayout.cshtml";
}

<h2 style="padding: 24px;">Thêm mới</h2>

@using (Html.BeginForm("Create", "Dentists", FormMethod.Post, new { enctype = "multipart/form-data", @style = "padding: 24px;" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Nha sĩ</h4>
    <hr />

    <div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
    <!-- Account Information -->
    <div class="form-group">
        @Html.LabelFor(model => model.account.username, "Tên người dùng", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.account.username, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.account.username)
        </div>
    </div>

    <!-- Person Information -->
    <div class="form-group">
        @Html.LabelFor(model => model.person.name, "Họ tên", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.person.name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.person.name)
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.person.phoneNumber, "Số điện thoại", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.person.phoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.person.phoneNumber)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.person.email, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.person.email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.person.email)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.person.salary, "Lương", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.person.salary, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.person.salary)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.person.address, "Địa chỉ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.person.address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.person.address)
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Gender", "Giới tính", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="form-control">
                <div class="form-check form-check-inline">
                    <input type="radio" id="male" name="person.gender" value=false class="form-check-input">
                    <label for="male" class="form-check-label">Nữ</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="female" name="person.gender" value=true class="form-check-input">
                    <label for="female" class="form-check-label">Nam</label>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.person.gender, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.person.birthday, "Ngày sinh", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.person.birthday, new { @class = "form-control", @type = "date" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.person.nation, "Quốc tịch", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.person.nation, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.person.nation)
        </div>
    </div>

    <!-- Dentist Information -->
    <div class="form-group">
        @Html.LabelFor(model => model.dentist.title, "Học vị", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dentist.title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dentist.title)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.dentist.meta, "Meta", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dentist.meta, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dentist.meta)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.dentist.descrip, "Mô tả", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dentist.descrip, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dentist.descrip)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.dentist.falid, "Chuyên khoa", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.dentist.falid, (SelectList)ViewBag.falid, "-- Select Faculty --")
            @Html.ValidationMessageFor(model => model.dentist.falid)
        </div>
    </div>

    <div class="form-group">
        <label for="avatar" class="control-label col-md-2">Avatar</label>
        <div class="col-md-10">
            <input type="file" id="avatar" name="avatar" accept="image/*" class="form-control" />
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
</div>
}
<div style="padding: 24px;">
    @Html.ActionLink("Quay lại", "Index")
</div>
