@model Dentalcare.Models.Dentist

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/receptionist/Views/Shared/MyLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Dentist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datebegin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datebegin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descrip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faculty.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculty.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.meta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
